    /* border */
    /* dimensions */
    /* positioning */
    /* display */

#content-area {
    /* border */
    border: black solid 6px;
    /* dimensions */
    max-width: 100vw;
    min-width: 850px;
    min-height: 97vh;
    max-height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100%;
}

#sidebar {
    /* border */
    border: red solid 4px;
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: block;
}

.menu {
    /* border */
    border: green solid 2px;
    /* dimensions */
    /* positioning */
    margin: 30px 10px;
    /* display */
}

#right-side {
    /* border */
    border: blue solid 4px;
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: 150px 1fr;
}

#header {
    /* border */
    border: green solid 2px;
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */

}

#main-content {
    /* border */
    border: orange solid 2px;
    /* dimensions */
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: 1fr 200px;
}

#projects {
    /* border */
    border: limegreen solid 4px;
    /* dimensions */
    min-width: 150px;
    max-width: auto;
    /* positioning */
    /* display */
}

#card-container {
    /* border */
    border: gold solid 2px;
    /* dimensions */
    height: auto;
    width: 100%;
    /* positioning */
    /* display */
    display: flex;
    flex-wrap: wrap;
}

.card {
    /* border */
    border: powderblue solid 2px;
    /* dimensions */
    height: 150px;
    width: 225px;
    /* positioning */
    /* display */
}

#other-panels {
    /* border */
    border: gray solid 2px;
    /* dimensions */
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: auto auto;
}

#announcements {
    /* border */
    border: purple solid 1px;
    /* dimensions */
    /* positioning */
    /* display */
}

#announcement-card {
    /* border */
    border: black solid 2px;
    /* dimensions */

    /* positioning */
    margin: 5px;
    padding: 5px;
    /* display */
}

#trending {
    /* border */
    border: purple solid 1px;
    /* dimensions */
    /* positioning */

    /* display */
}

#trending-card {
    /* border */
    border: black solid 2px;
    /* dimensions */

    /* positioning */
    margin: 5px;
    /* display */
}

    /* border */
    /* dimensions */
    /* positioning */
    /* display */