    /* border */
    /* dimensions */
    /* positioning */
    /* display */

:root {
    --main-dark-blue: rgb(0, 0, 54);
    --main-steel-gray: rgb(112, 112, 112);
    --main-neon-pink: rgb(240, 35, 137);
    --main-neon-purple: rgb(219, 0, 219);
    --dark-metallic-purple: rgb(32, 0, 61);
    --light-metallic-purple: rgb(54, 0, 104);
}


* {
    font-family: Oswald;
}
html { 
    background: rgba(0, 0, 0, 0.8) url('/resources/cityscape.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
   }

#content-area {
    /* border */
    /* dimensions */
    max-width: 100vw;
    min-width: 850px;
    min-height: 97vh;
    max-height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100%;
}

#sidebar {
    /* border */
    border: var(--main-neon-pink) solid 1px;
    border-radius: 5px;
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: block;
    /*color*/
    background-image: linear-gradient(var(--main-dark-blue), var(--main-steel-gray));
    color: lightgray;
}

.menu {
    /* border */
    /* dimensions */
    /* positioning */
    margin: 30px 10px;
    /* display */
}

.menu .material-symbols-outlined {
    margin-right: 8px;
}

#right-side {
    /* border */
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: auto 1fr;
}

#header {
    /* border */
    border: var(--main-neon-pink) solid 1px;
    border-radius: 5px;
    /* dimensions */
    height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: 1fr auto;
    background-image: linear-gradient(to right, rgb(0, 0, 54), rgb(44, 0, 44), rgb(0, 0, 54));
    color: lightgray;
}

#header-left {
    /* border */
    /* dimensions */
    width: auto;
    height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#search {
    /* border */
    /* dimensions */
    /* positioning */
    margin-top: 8px;
    margin-left: 8px;
    /* display */
}

#search-form {
    display: grid;
    grid-template-columns: auto 1fr;
}

#search-form button {
    border: none;
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 5px;
    display: inline;
}

#search-form input {
    width: 90%;
    display: inline;
}

#greeting {
    /* border */
    /* dimensions */
    width: 100%;
    height: auto;
    /* positioning */
    margin-top: 8px;
    margin-left: 8px;
    /* display */
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
}

#profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: inline;
    margin: 10px;
}

#hello {
    display: inline;
    align-self: center;
}

#header-right {
    /* border */
    /* dimensions */
    width: auto;
    height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: auto auto;
}

#status {
    /* border */
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: auto auto minmax(auto, 1fr);
}

#notifications {
    /* border */
    /* dimensions */
    width: 25px;
    height: 25px;
    /* positioning */
    margin: 10px;
    /* display */
    display: inline;
}

#profile-icon {
    /* border */
    /* dimensions */
    width: 25px;
    height: 25px;
    border-radius: 100%;
    /* positioning */
    margin: 10px;
    /* display */

}

#username {
    /* border */
    /* dimensions */
    /* positioning */
    margin: 10px;
    /* display */
}

#actions {
    /* border */
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-content: center;
}

#actions button {
    border: var(--main-neon-pink) solid 1px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    background-color: linear-gradient(var(--dark-metallic-purple), var(--light-metallic-purple));
    margin: 5px;
    color: white;
    
}

#main-content {
    /* border */
    /* dimensions */
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: 1fr 200px;
}

#projects {
    /* border */
    border: var(--main-neon-pink) solid 1px;
    border-radius: 5px;
    /* dimensions */
    min-width: 500px;
    max-width: auto;
    /* positioning */
    padding: 5px;
    /* display */

    color: lightgray;
}

#card-container {
    /* border */
    /* dimensions */
    height: auto;
    min-width: 250px;
    max-width: 750px;
    /* positioning */
    /* display */
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    /* border */
    border: var(--main-neon-purple) solid 1px;
    border-radius: 5px;
    /* dimensions */
    height: 375px;
    width: 225px;
    /* positioning */
    margin: 5px;
    padding: 5px;
    /* display */
    background-color: darkslateblue;
    color: lightgray;
}

.card h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.card-actions {
    float: right;
}

#corporate-rival {
        background: rgba(0, 0, 0, 0.6) url('/resources/corporate.png');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
}

#murderer {
    background: rgba(0, 0, 0, 0.6) url('/resources/murderer.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#android {
    background: rgba(0, 0, 0, 0.6) url('/resources/android.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#femme-fatale {
    background: rgba(0, 0, 0, 0.6) url('/resources/femmefatale.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#brother {
    background: rgba(0, 0, 0, 0.6) url('/resources/brother.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#mutant{
    background: rgba(0, 0, 0, 0.6) url('/resources/mutant.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

#other-panels {
    /* border */
    border: var(--main-neon-pink) solid 1px;
    border-radius: 5px;
    /* dimensions */
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: auto auto;
    background-image: linear-gradient(rgb(0, 0, 54), rgb(117, 117, 117));
    color: lightgray;
}

#announcements {
    /* border */
    /* dimensions */
    /* positioning */
    padding: 5px;
    /* display */
}

#announcement-card {
    /* border */
    border: var(--main-neon-purple) solid 1px;
    border-radius: 5px;
    /* dimensions */

    /* positioning */
    margin: 5px;
    padding: 5px;
    /* display */
    background-image: linear-gradient(var(--dark-metallic-purple), var(--light-metallic-purple));
    color: lightgray;
}

#trending {
    /* border */
    /* dimensions */
    /* positioning */
    padding: 5px;
    /* display */
}

#trending-card {
    /* border */
    border: var(--main-neon-purple) solid 1px;
    border-radius: 5px;
    /* dimensions */

    /* positioning */
    margin: 5px;
    /* display */
    background-image: linear-gradient(var(--dark-metallic-purple), var(--light-metallic-purple));
    color: lightgray;
}

    /* border */
    /* dimensions */
    /* positioning */
    /* display */