    /* border */
    /* dimensions */
    /* positioning */
    /* display */

* {
    font-family: Oswald;
}

#content-area {
    /* border */
    border: black solid 6px;
    /* dimensions */
    max-width: 100vw;
    min-width: 850px;
    min-height: 97vh;
    max-height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100%;
}

#sidebar {
    /* border */
    border: darkred solid 4px;
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: block;
    /*color*/
    background-image: linear-gradient(rgb(0, 0, 54), rgb(117, 117, 117));
    color: lightgray;
}

.menu {
    /* border */
    border: darkorange solid 2px;
    /* dimensions */
    /* positioning */
    margin: 30px 10px;
    /* display */
}

.menu .material-symbols-outlined {
    margin-right: 8px;
}

#right-side {
    /* border */
    border: red solid 4px;
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: auto 1fr;
}

#header {
    /* border */
    border: darkorange solid 2px;
    /* dimensions */
    height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: 1fr auto;
    background-image: linear-gradient(to right, rgb(117, 117, 117), rgb(0, 0, 54), rgb(117, 117, 117));
    color: lightgray;
}

#header-left {
    /* border */
    border: yellow solid 2px;
    /* dimensions */
    width: auto;
    height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#search {
    /* border */
    border: green solid 2px;
    /* dimensions */
    /* positioning */
    /* display */
}

#search-form {
    display: grid;
    grid-template-columns: auto 1fr;
}

#search-form button {
    border: none;
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 5px;
    display: inline;
}

#search-form input {
    width: 90%;
    display: inline;
}

#greeting {
    /* border */
    border: darkgreen solid 2px;
    /* dimensions */
    width: 100%;
    height: auto;
    /* positioning */
    /* display */
}

#profile-pic {
    font-size: 48px;
    display: inline;
}

#hello {
    display: inline;
}

#header-right {
    /* border */
    border: gold solid 5px;
    /* dimensions */
    width: auto;
    height: auto;
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: auto auto;
}

#status {
    /* border */
    border: darkgreen solid 2px;
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: auto auto minmax(auto, 1fr);
}

#notifications {
    /* border */
    border: blue solid 2px;
    /* dimensions */
    width: 25px;
    height: 25px;
    /* positioning */
    margin: 10px;
    /* display */
    display: inline;
}

#profile-icon {
    /* border */
    /* dimensions */
    width: 25px;
    height: 25px;
    border-radius: 100%;
    /* positioning */
    margin: 10px;
    /* display */

}

#username {
    /* border */
    /* dimensions */
    /* positioning */
    margin: 10px;
    /* display */
}

#actions {
    /* border */
    border: green solid 2px;
    /* dimensions */
    height: 100%;
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-content: center;
}

#actions button {
    border: none;
    height: 30px;
    width: 90px;
    border-radius: 10%;
    background-color: darkslateblue;
    margin: 5px;
    color: white;
    
}

#main-content {
    /* border */
    border: orange solid 2px;
    /* dimensions */
    /* positioning */
    /* display */
    display: grid;
    grid-template-columns: 1fr 200px;
}

#projects {
    /* border */
    border: green solid 8px;
    /* dimensions */
    min-width: 500px;
    max-width: auto;
    /* positioning */
    padding: 5px;
    /* display */
    background-image: linear-gradient(lightgray, darkgray, lightgray);
}

#card-container {
    /* border */
    border: blue solid 2px;
    /* dimensions */
    height: auto;
    width: 100%;
    /* positioning */
    /* display */
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.card {
    /* border */
    border: purple solid 2px;
    /* dimensions */
    height: 150px;
    width: 225px;
    /* positioning */
    margin: 5px;
    padding: 5px;
    /* display */
    background-color: darkslateblue;
    color: lightgray;
}
.card-actions {
    float: right;
}

#other-panels {
    /* border */
    border: yellow solid 2px;
    /* dimensions */
    /* positioning */
    /* display */
    display: grid;
    grid-template-rows: auto auto;
    background-image: linear-gradient(rgb(0, 0, 54), rgb(117, 117, 117));
    color: lightgray;
}

#announcements {
    /* border */
    border: green solid 1px;
    /* dimensions */
    /* positioning */
    padding: 5px;
    /* display */
}

#announcement-card {
    /* border */
    border: blue solid 2px;
    /* dimensions */

    /* positioning */
    margin: 5px;
    padding: 5px;
    /* display */
}

#trending {
    /* border */
    border: darkgreen solid 1px;
    /* dimensions */
    /* positioning */
    padding: 5px;
    /* display */
}

#trending-card {
    /* border */
    border: blue solid 2px;
    /* dimensions */

    /* positioning */
    margin: 5px;
    /* display */
}

    /* border */
    /* dimensions */
    /* positioning */
    /* display */